<div *ngIf="crime" class="row">
  <div class="col-md-12">
    <h2 *ngIf="crime._id">Crime Details</h2>
    <h2 *ngIf="!crime._id">New Crime</h2>
  </div>
</div>
<div *ngIf="crime" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="crime-name">Name</label>
      <input class="form-control" name="crime-name" [(ngModel)]="crime.name" placeholder="Name"/>
    </div>
    <div class="form-group">
      <label for="crime-email">Email</label>
      <input class="form-control" name="crime-email" [(ngModel)]="crime.email" placeholder="support@mlab.com"/>
    </div>
    <div class="form-group">
      <label for="crime-phone-mobile">Mobile</label>
      <input class="form-control" name="crime-phone-mobile" [(ngModel)]="crime.phone.mobile" placeholder="1234567890"/>
    </div>
    <div class="form-group">
      <label for="crime-phone-work">Work</label>
      <input class="form-control" name="crime-phone-work" [(ngModel)]="crime.phone.work" placeholder="0123456789"/>
    </div>
    <button class="btn btn-primary" *ngIf="!crime._id" (click)="createCrime(crime)">Create</button>
    <button class="btn btn-info" *ngIf="crime._id" (click)="updateCrime(crime)">Update</button>
    <button class="btn btn-danger" *ngIf="crime._id" (click)="deleteCrime(crime._id)">Delete</button>
  </form>
</div>
